body {
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color:#542712;
}

.Bixinho {
    border: 2px solid #542712;
    border-radius: 25px;
    padding: 30px;
    width: 300px;
    text-align: center;
    background-color: #e4b9ac;
}

.status {
    margin-bottom: 20px;
    text-align:left;
    margin-left:20px;
}

button {
    margin: 2px;
    height:30px;
    padding:0 8px;
    border:none;
    border-radius:10px;
    background: #ad7f70;
    color: #542712;
    font-weight:bold;
}
button:hover{
  background-color:#fff;
  padding:5px 15px;
}